body {
    margin: 0px;
    font-family: Roboto;     
}

#ikkuna {
    display: inline-block; 
    position: relative;    
}

#canvas {    
    border: 2px green solid; 
    z-index: 1;
    position: absolute;    
}

button {
    position: absolute;
    z-index: 2;
    text-align: center;
    padding: 0px;
    background-color: black;
    border: 1px solid rgb(51, 155, 155);
    border-radius: 5px;
    cursor: pointer;
    font-weight: 800;
}

img {
    margin: 0px;
}

#plus, #miinus {    
    top: 5px;
    width: 25px;    
    color: rgb(51, 155, 155)
}

#up, #down, #left, #right {    
    z-index: 2;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

#plus {    
    left: 5px;         
}

#miinus {        
    left: 36px;
}

#up {    
    top: 30px;
    left: 80px;
    transform: rotate(270deg)
}

#down {    
    top: 120px;
    left: 80px;
    transform: rotate(90deg)
}

#left {
    top: 75px;
    left: 35px;
    transform: rotate(180deg)
}

#right {
    top: 75px;
    left: 125px;
}

#source {
    text-align: right; 
    left: 1095px;
    top: 10px;
    padding: 2px;    
    color: rgb(51, 155, 155);
}

#note {
    background-color: black;
    position: absolute;
    text-align: center;
    z-index: 2;
    left: 160px;
    top: 10px;
    margin: 0;    
    height: auto;    
    width: auto;
    min-width: 220px;
    padding: 2px;
    color: rgb(51, 155, 155);
    font-weight: 800;
    border: 1px solid rgb(51, 155, 155);
    border-radius: 5px;
}

.i {
    background-color: black;
    position: absolute;
    text-align: center;
    text-decoration: none;
    font-weight: 800;
    z-index: 2;
    width: 25px;
    left: 1158px;
    top: 40px;    
    color: rgb(51, 155, 155);
    cursor: pointer;
    border: 1px solid rgb(51, 155, 155);
    border-radius: 5px;  
}

.i:hover .hoverBubble {    
    visibility: visible;
    
}

.hoverBubble {
    position: absolute;
    text-align: left;
    left: -860px;
    top: 50px;
    z-index: 3;
    color: white;
    background-color: black;
    border: 2px solid rgb(51, 155, 155);
    border-radius: 5px;
    padding: 15px;
    width: 800px;
    height: auto;
    opacity: 70%;
    visibility: hidden;    
}




